<h1>Login</h1>
<form>
  <label for="username">Nom d'utilisateur :</label>
  <input id="username" name="username" type="text" [(ngModel)]="email"/>
  <br />
  <label for="password">Mot de passe :</label>
  <div style="position: relative; display: inline-block;">
    <input 
      id="password" 
      name="password" 
      [type]="showPassword ? 'text' : 'password'" 
      [(ngModel)]="password"/>
    <button 
      type="button" 
      (click)="togglePasswordVisibility()" 
      style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer;">
      {{ showPassword ? 'I' : 'o' }}
    </button>
  </div>
  <br />
  <button type="button" (click)="onLoginSuccess()">Se connecter</button>
  @if (error) {
    <div style="color:red">{{ error }}</div>
  }
</form> 